# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.rsuser
*.sln.ide/

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Publish output
publish/
publish2/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
