{
  "openapi": "3.0.3",
  "info": {
    "title": "P4Books ERP API",
    "version": "1.0.0",
    "description": "## P4Books ERP System API Documentation\n\nP4Books is a comprehensive ERP system providing:\n- **Sales & Purchasing**: Quotes, Orders, Invoices, Bills\n- **Inventory Management**: Receipts, Deliveries, Stock Control\n- **Financial Accounting**: GL, Chart of Accounts, Posting Periods\n- **Master Data**: Products, Customers, Vendors, Warehouses\n- **Reporting**: Stimulsoft-based custom reports\n\n### Authentication\nUse the `ApiKey` header with your API key. The tenant is automatically determined from your API key.",
  },
  "servers": [
    {
      "url": "https://api.p4books.cloud",
      "description": "P4Books API (tenant determined by API key)"
    }
  ],
  "security": [
    { "ApiKey": [] }
  ],
  "tags": [
    { "name": "Customer", "description": "Customer master data" },
    { "name": "Vendor", "description": "Vendor master data" },
    { "name": "Product", "description": "Product master data" },
    { "name": "Warehouse", "description": "Warehouse management" },
    { "name": "Account", "description": "Chart of accounts" },
    { "name": "SalesQuote", "description": "Sales quotes" },
    { "name": "SalesOrder", "description": "Sales orders" },
    { "name": "Invoice", "description": "Customer invoices" },
    { "name": "InventoryDelivery", "description": "Inventory deliveries (shipments)" },
    { "name": "PurchaseOrder", "description": "Purchase orders" },
    { "name": "VendorBill", "description": "Vendor bills" },
    { "name": "InventoryReceipt", "description": "Inventory receipts" },
    { "name": "JournalEntry", "description": "GL journal entries" },
    { "name": "PrintReport", "description": "Report generation" },
    { "name": "Inventory", "description": "Inventory levels and stock management" }
  ],
  "paths": {
    "/api/Customer/GetById": {
      "get": {
        "tags": ["Customer"],
        "summary": "Get customer by ID",
        "operationId": "Customer_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Customer ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Addresses,TaxCodes,Users,PaymentTerms,FreightTerms,PaymentMethod)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select (e.g., *,Addresses.*,PaymentTerms.Code)" }
        ],
        "responses": {
          "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } }
        }
      }
    },
    "/api/Customer/CreateOrUpdate": {
      "post": {
        "tags": ["Customer"],
        "summary": "Create or update a customer",
        "operationId": "Customer_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } },
        "responses": { "200": { "description": "Customer created/updated successfully" } }
      }
    },
    "/api/Customer/VerifyTaxId": {
      "get": {
        "tags": ["Customer"],
        "summary": "Verify customer's tax ID",
        "operationId": "Customer_VerifyTaxId",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Customer ID" }
        ],
        "responses": { "200": { "description": "Tax ID verification result" } }
      }
    },
    "/api/Vendor/GetById": {
      "get": {
        "tags": ["Vendor"],
        "summary": "Get vendor by ID",
        "operationId": "Vendor_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Vendor ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vendor" } } } } }
      }
    },
    "/api/Vendor/CreateOrUpdate": {
      "post": {
        "tags": ["Vendor"],
        "summary": "Create or update a vendor",
        "operationId": "Vendor_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Vendor" } } } },
        "responses": { "200": { "description": "Vendor created/updated successfully" } }
      }
    },
    "/api/Product/GetById": {
      "get": {
        "tags": ["Product"],
        "summary": "Get product by ID",
        "operationId": "Product_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Product ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Product" } } } } }
      }
    },
    "/api/Product/GetBySku": {
      "get": {
        "tags": ["Product"],
        "summary": "Get product by SKU",
        "operationId": "Product_GetBySku",
        "parameters": [
          { "name": "sku", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Product SKU" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Product" } } } } }
      }
    },
    "/api/Product/CreateOrUpdate": {
      "post": {
        "tags": ["Product"],
        "summary": "Create or update a product",
        "operationId": "Product_CreateOrUpdate",
        "parameters": [
          { "name": "p4wSync", "in": "query", "schema": { "type": "boolean" }, "description": "Sync with P4W" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Product" } } } },
        "responses": { "200": { "description": "Product created/updated" } }
      }
    },
    "/api/Product/ProductImages": {
      "get": {
        "tags": ["Product"],
        "summary": "Get product images",
        "operationId": "Product_ProductImages",
        "parameters": [
          { "name": "productId", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Product ID" }
        ],
        "responses": { "200": { "description": "List of product images" } }
      }
    },
    "/api/Product/UploadProductImage": {
      "post": {
        "tags": ["Product"],
        "summary": "Upload product image",
        "operationId": "Product_UploadProductImage",
        "parameters": [
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Product ID" }
        ],
        "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "properties": { "file": { "type": "string", "format": "binary" } } } } } },
        "responses": { "200": { "description": "Image uploaded" } }
      }
    },
    "/api/Product/DeleteProductImage": {
      "get": {
        "tags": ["Product"],
        "summary": "Delete product image",
        "operationId": "Product_DeleteProductImage",
        "parameters": [
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Resource ID" }
        ],
        "responses": { "200": { "description": "Image deleted" } }
      }
    },
    "/api/Warehouse/GetById": {
      "get": {
        "tags": ["Warehouse"],
        "summary": "Get warehouse by ID",
        "operationId": "Warehouse_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Warehouse ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Warehouse" } } } } }
      }
    },
    "/api/Warehouse/CreateOrUpdate": {
      "post": {
        "tags": ["Warehouse"],
        "summary": "Create or update a warehouse",
        "operationId": "Warehouse_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Warehouse" } } } },
        "responses": { "200": { "description": "Warehouse created/updated" } }
      }
    },
    "/api/Account/GetById": {
      "get": {
        "tags": ["Account"],
        "summary": "Get GL account by ID",
        "operationId": "Account_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Account ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Account" } } } } }
      }
    },
    "/api/Account/CreateOrUpdate": {
      "post": {
        "tags": ["Account"],
        "summary": "Create or update a GL account",
        "operationId": "Account_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Account" } } } },
        "responses": { "200": { "description": "Account created/updated" } }
      }
    },
    "/api/Account/DeleteBatch": {
      "post": {
        "tags": ["Account"],
        "summary": "Delete multiple GL accounts",
        "operationId": "Account_DeleteBatch",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "array", "items": { "type": "string", "format": "uuid" } } } } },
        "responses": { "200": { "description": "Accounts deleted successfully" } }
      }
    },
    "/api/SalesQuote/GetById": {
      "get": {
        "tags": ["SalesQuote"],
        "summary": "Get sales quote by ID",
        "operationId": "SalesQuote_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Sales Quote ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines,Customer)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesQuote" } } } } }
      }
    },
    "/api/SalesQuote/CreateOrUpdate": {
      "post": {
        "tags": ["SalesQuote"],
        "summary": "Create or update a sales quote",
        "operationId": "SalesQuote_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesQuote" } } } },
        "responses": { "200": { "description": "Sales quote created/updated" } }
      }
    },
    "/api/SalesQuote/GenerateSalesOrder": {
      "get": {
        "tags": ["SalesQuote"],
        "summary": "Generate sales order from quote",
        "operationId": "SalesQuote_GenerateSalesOrder",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Sales Quote ID" }
        ],
        "responses": { "200": { "description": "Generated sales order ID" } }
      }
    },
    "/api/SalesOrder/GetById": {
      "get": {
        "tags": ["SalesOrder"],
        "summary": "Get sales order by ID",
        "operationId": "SalesOrder_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Sales Order ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines,Customer)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesOrder" } } } } }
      }
    },
    "/api/SalesOrder/CreateOrUpdate": {
      "post": {
        "tags": ["SalesOrder"],
        "summary": "Create or update a sales order",
        "operationId": "SalesOrder_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesOrder" } } } },
        "responses": { "200": { "description": "Sales order created/updated" } }
      }
    },
    "/api/Invoice/GetById": {
      "get": {
        "tags": ["Invoice"],
        "summary": "Get invoice by ID",
        "operationId": "Invoice_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Invoice ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines,Customer)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Invoice" } } } } }
      }
    },
    "/api/Invoice/CreateOrUpdate": {
      "post": {
        "tags": ["Invoice"],
        "summary": "Create or update an invoice",
        "operationId": "Invoice_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Invoice" } } } },
        "responses": { "200": { "description": "Invoice created/updated" } }
      }
    },
    "/api/InventoryDelivery/GetById": {
      "get": {
        "tags": ["InventoryDelivery"],
        "summary": "Get inventory delivery by ID",
        "operationId": "InventoryDelivery_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Inventory Delivery ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines,Customer)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InventoryDelivery" } } } } }
      }
    },
    "/api/InventoryDelivery/CreateOrUpdate": {
      "post": {
        "tags": ["InventoryDelivery"],
        "summary": "Create or update an inventory delivery",
        "operationId": "InventoryDelivery_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InventoryDelivery" } } } },
        "responses": { "200": { "description": "Inventory delivery created/updated" } }
      }
    },
    "/api/PurchaseOrder/GetById": {
      "get": {
        "tags": ["PurchaseOrder"],
        "summary": "Get purchase order by ID",
        "operationId": "PurchaseOrder_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Purchase Order ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines,Vendor)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PurchaseOrder" } } } } }
      }
    },
    "/api/PurchaseOrder/CreateOrUpdate": {
      "post": {
        "tags": ["PurchaseOrder"],
        "summary": "Create or update a purchase order",
        "operationId": "PurchaseOrder_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PurchaseOrder" } } } },
        "responses": { "200": { "description": "Purchase order created/updated" } }
      }
    },
    "/api/PurchaseOrder/Clone": {
      "get": {
        "tags": ["PurchaseOrder"],
        "summary": "Clone a purchase order",
        "operationId": "PurchaseOrder_Clone",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Purchase Order ID to clone" }
        ],
        "responses": { "200": { "description": "Cloned purchase order" } }
      }
    },
    "/api/VendorBill/GetById": {
      "get": {
        "tags": ["VendorBill"],
        "summary": "Get vendor bill by ID",
        "operationId": "VendorBill_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Vendor Bill ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines,Vendor)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VendorBill" } } } } }
      }
    },
    "/api/VendorBill/CreateOrUpdate": {
      "post": {
        "tags": ["VendorBill"],
        "summary": "Create or update a vendor bill",
        "operationId": "VendorBill_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VendorBill" } } } },
        "responses": { "200": { "description": "Vendor bill created/updated" } }
      }
    },
    "/api/InventoryReceipt/GetById": {
      "get": {
        "tags": ["InventoryReceipt"],
        "summary": "Get inventory receipt by ID",
        "operationId": "InventoryReceipt_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Inventory Receipt ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines,Vendor)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InventoryReceipt" } } } } }
      }
    },
    "/api/InventoryReceipt/CreateOrUpdate": {
      "post": {
        "tags": ["InventoryReceipt"],
        "summary": "Create or update an inventory receipt",
        "operationId": "InventoryReceipt_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InventoryReceipt" } } } },
        "responses": { "200": { "description": "Inventory receipt created/updated" } }
      }
    },
    "/api/InventoryReceipt/GenerateBill": {
      "get": {
        "tags": ["InventoryReceipt"],
        "summary": "Generate vendor bill from receipt",
        "operationId": "InventoryReceipt_GenerateBill",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Receipt ID" }
        ],
        "responses": { "200": { "description": "Generated vendor bill ID" } }
      }
    },
    "/api/JournalEntry/GetById": {
      "get": {
        "tags": ["JournalEntry"],
        "summary": "Get journal entry by ID",
        "operationId": "JournalEntry_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Journal Entry ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include (e.g., Lines)" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JournalEntry" } } } } }
      }
    },
    "/api/JournalEntry/CreateOrUpdate": {
      "post": {
        "tags": ["JournalEntry"],
        "summary": "Create or update a journal entry",
        "operationId": "JournalEntry_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JournalEntry" } } } },
        "responses": { "200": { "description": "Journal entry created/updated" } }
      }
    },
    "/api/PrintReport/GetById": {
      "get": {
        "tags": ["PrintReport"],
        "summary": "Get print report by ID",
        "operationId": "PrintReport_GetById",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Print Report ID" },
          { "name": "includes", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated navigation properties to include" },
          { "name": "selects", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated properties to select" }
        ],
        "responses": { "200": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrintReport" } } } } }
      }
    },
    "/api/PrintReport/CreateOrUpdate": {
      "post": {
        "tags": ["PrintReport"],
        "summary": "Create or update a print report",
        "operationId": "PrintReport_CreateOrUpdate",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrintReport" } } } },
        "responses": { "200": { "description": "Print report created/updated" } }
      }
    },
    "/api/PrintReport/DeleteBatch": {
      "post": {
        "tags": ["PrintReport"],
        "summary": "Delete multiple print reports",
        "operationId": "PrintReport_DeleteBatch",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "array", "items": { "type": "string", "format": "uuid" } } } } },
        "responses": { "200": { "description": "Print reports deleted" } }
      }
    },
    "/api/PrintReport/GetTemplate": {
      "get": {
        "tags": ["PrintReport"],
        "summary": "Get report template",
        "operationId": "PrintReport_GetTemplate",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Report ID" }
        ],
        "responses": { "200": { "description": "Report template data" } }
      }
    },
    "/api/Inventory/GetAll": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get all inventory locations with stock levels",
        "operationId": "Inventory_GetAll",
        "description": "Returns inventory levels for all products across all warehouses. Includes product details, warehouse information, and current stock quantities.",
        "parameters": [
          { "name": "warehouseId", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by warehouse ID" },
          { "name": "productId", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by product ID" },
          { "name": "sku", "in": "query", "schema": { "type": "string" }, "description": "Filter by product SKU (partial match)" },
          { "name": "minQuantity", "in": "query", "schema": { "type": "number" }, "description": "Minimum quantity filter" }
        ],
        "responses": {
          "200": {
            "description": "List of inventory locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/InventoryLocation" }
                }
              }
            }
          }
        }
      }
    },
    "/api/Inventory/GetByProduct": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get inventory levels for a specific product",
        "operationId": "Inventory_GetByProduct",
        "parameters": [
          { "name": "productId", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Product ID" }
        ],
        "responses": {
          "200": {
            "description": "Inventory locations for the product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/InventoryLocation" }
                }
              }
            }
          }
        }
      }
    },
    "/api/Inventory/GetByWarehouse": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get all inventory in a specific warehouse",
        "operationId": "Inventory_GetByWarehouse",
        "parameters": [
          { "name": "warehouseId", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Warehouse ID" }
        ],
        "responses": {
          "200": {
            "description": "All inventory in the warehouse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/InventoryLocation" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "name": "ApiKey",
        "in": "header",
        "description": "API Key for authentication. Your API key determines tenant access."
      }
    },
    "schemas": {
      "EntityBase": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "format": "uuid" },
          "DateCreated": { "type": "string", "format": "date-time" },
          "DateModified": { "type": "string", "format": "date-time" }
        }
      },
      "InventoryLocation": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "ProductId": { "type": "string", "format": "uuid", "description": "Product ID" },
              "WarehouseId": { "type": "string", "format": "uuid", "description": "Warehouse ID" },
              "Quantity": { "type": "number", "description": "Current stock quantity" },
              "Product": {
                "type": "object",
                "properties": {
                  "Id": { "type": "string", "format": "uuid" },
                  "Sku": { "type": "string", "description": "Product SKU" },
                  "Upc": { "type": "string", "description": "Product UPC barcode" },
                  "Description": { "type": "string", "description": "Product description" },
                  "Category": { "type": "string", "description": "Product category" },
                  "UnitOfMeasure": { "type": "string", "description": "Unit of measure (e.g., Ea, Box, Case)" },
                  "Cost": { "type": "number", "description": "Unit cost" },
                  "SalesPrice": { "type": "number", "description": "Sales price" },
                  "CurrencyId": { "type": "string", "format": "uuid" }
                }
              },
              "Warehouse": {
                "type": "object",
                "properties": {
                  "Id": { "type": "string", "format": "uuid" },
                  "Code": { "type": "string", "description": "Warehouse code" },
                  "Name": { "type": "string", "description": "Warehouse name" }
                }
              }
            }
          }
        ]
      },
      "Customer": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "Name": { "type": "string" },
              "Email": { "type": "string" },
              "Phone": { "type": "string" },
              "CreditLimit": { "type": "number" },
              "Balance": { "type": "number" },
              "CustomerGroupId": { "type": "string", "format": "uuid" },
              "PaymentTermsId": { "type": "string", "format": "uuid" },
              "CurrencyId": { "type": "string", "format": "uuid" },
              "Addresses": { "type": "array", "items": { "$ref": "#/components/schemas/Address" } }
            }
          }
        ]
      },
      "Vendor": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "Name": { "type": "string" },
              "Email": { "type": "string" },
              "Phone": { "type": "string" },
              "Balance": { "type": "number" },
              "VendorGroupId": { "type": "string", "format": "uuid" },
              "PaymentTermsId": { "type": "string", "format": "uuid" },
              "CurrencyId": { "type": "string", "format": "uuid" }
            }
          }
        ]
      },
      "Product": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "Name": { "type": "string" },
              "Description": { "type": "string" },
              "ProductType": { "type": "string", "enum": ["Inventory", "Service", "NonInventory"] },
              "UnitOfMeasure": { "type": "string" },
              "Cost": { "type": "number" },
              "SalesPrice": { "type": "number" },
              "IsActive": { "type": "boolean" },
              "IsPacksizeControlled": { "type": "boolean" },
              "IsLotControlled": { "type": "boolean" },
              "IsSerialControlled": { "type": "boolean" },
              "ProductGroupId": { "type": "string", "format": "uuid" }
            }
          }
        ]
      },
      "Address": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "AddressType": { "type": "string", "enum": ["Billing", "Shipping", "Both"] },
              "Line1": { "type": "string" },
              "Line2": { "type": "string" },
              "City": { "type": "string" },
              "State": { "type": "string" },
              "PostalCode": { "type": "string" },
              "Country": { "type": "string" }
            }
          }
        ]
      },
      "Warehouse": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "Name": { "type": "string" },
              "Description": { "type": "string" },
              "IsDefault": { "type": "boolean" },
              "IsActive": { "type": "boolean" }
            }
          }
        ]
      },
      "Account": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "Name": { "type": "string" },
              "AccountType": { "type": "string", "enum": ["Asset", "Liability", "Equity", "Revenue", "Expense"] },
              "AccountCategoryId": { "type": "string", "format": "uuid" },
              "CurrencyId": { "type": "string", "format": "uuid" },
              "Balance": { "type": "number" },
              "IsActive": { "type": "boolean" },
              "IsBankAccount": { "type": "boolean" }
            }
          }
        ]
      },
      "SalesQuote": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "CustomerId": { "type": "string", "format": "uuid" },
              "DocumentDate": { "type": "string", "format": "date" },
              "ExpirationDate": { "type": "string", "format": "date" },
              "CurrencyId": { "type": "string", "format": "uuid" },
              "Subtotal": { "type": "number" },
              "TaxTotal": { "type": "number" },
              "Total": { "type": "number" },
              "Status": { "type": "string", "enum": ["Draft", "Sent", "Accepted", "Rejected", "Expired"] },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentLine" } }
            }
          }
        ]
      },
      "SalesOrder": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "CustomerId": { "type": "string", "format": "uuid" },
              "DocumentDate": { "type": "string", "format": "date" },
              "RequiredDate": { "type": "string", "format": "date" },
              "CurrencyId": { "type": "string", "format": "uuid" },
              "WarehouseId": { "type": "string", "format": "uuid" },
              "Subtotal": { "type": "number" },
              "TaxTotal": { "type": "number" },
              "Total": { "type": "number" },
              "Status": { "type": "string", "enum": ["Open", "PartiallyFulfilled", "Fulfilled", "Closed", "Cancelled"] },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentLine" } }
            }
          }
        ]
      },
      "Invoice": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "CustomerId": { "type": "string", "format": "uuid" },
              "DocumentDate": { "type": "string", "format": "date" },
              "DueDate": { "type": "string", "format": "date" },
              "PostingDate": { "type": "string", "format": "date" },
              "ActualPostingDate": { "type": "string", "format": "date" },
              "CurrencyId": { "type": "string", "format": "uuid" },
              "Subtotal": { "type": "number" },
              "TaxTotal": { "type": "number" },
              "Total": { "type": "number" },
              "AmountPaid": { "type": "number" },
              "Balance": { "type": "number" },
              "Status": { "type": "string", "enum": ["Draft", "Posted", "PartiallyPaid", "Paid", "Void"] },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentLine" } }
            }
          }
        ]
      },
      "InventoryDelivery": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "CustomerId": { "type": "string", "format": "uuid" },
              "DocumentDate": { "type": "string", "format": "date" },
              "WarehouseId": { "type": "string", "format": "uuid" },
              "SalesOrderId": { "type": "string", "format": "uuid" },
              "Status": { "type": "string", "enum": ["Draft", "Shipped", "Delivered"] },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentLine" } }
            }
          }
        ]
      },
      "PurchaseOrder": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "VendorId": { "type": "string", "format": "uuid" },
              "DocumentDate": { "type": "string", "format": "date" },
              "ExpectedDate": { "type": "string", "format": "date" },
              "CurrencyId": { "type": "string", "format": "uuid" },
              "WarehouseId": { "type": "string", "format": "uuid" },
              "Subtotal": { "type": "number" },
              "TaxTotal": { "type": "number" },
              "Total": { "type": "number" },
              "Status": { "type": "string", "enum": ["Open", "PartiallyReceived", "Received", "Closed", "Cancelled"] },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentLine" } }
            }
          }
        ]
      },
      "VendorBill": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "VendorId": { "type": "string", "format": "uuid" },
              "DocumentDate": { "type": "string", "format": "date" },
              "DueDate": { "type": "string", "format": "date" },
              "VendorInvoiceNumber": { "type": "string" },
              "CurrencyId": { "type": "string", "format": "uuid" },
              "Subtotal": { "type": "number" },
              "TaxTotal": { "type": "number" },
              "Total": { "type": "number" },
              "AmountPaid": { "type": "number" },
              "Balance": { "type": "number" },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentLine" } }
            }
          }
        ]
      },
      "InventoryReceipt": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "VendorId": { "type": "string", "format": "uuid" },
              "DocumentDate": { "type": "string", "format": "date" },
              "WarehouseId": { "type": "string", "format": "uuid" },
              "PurchaseOrderId": { "type": "string", "format": "uuid" },
              "Status": { "type": "string", "enum": ["Draft", "Received"] },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentLine" } }
            }
          }
        ]
      },
      "JournalEntry": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Code": { "type": "string" },
              "DocumentDate": { "type": "string", "format": "date" },
              "PostingDate": { "type": "string", "format": "date" },
              "Description": { "type": "string" },
              "TotalDebit": { "type": "number" },
              "TotalCredit": { "type": "number" },
              "Status": { "type": "string", "enum": ["Draft", "Posted", "Void"] },
              "Lines": { "type": "array", "items": { "$ref": "#/components/schemas/JournalEntryLine" } }
            }
          }
        ]
      },
      "JournalEntryLine": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "LineNumber": { "type": "integer" },
              "AccountId": { "type": "string", "format": "uuid" },
              "Description": { "type": "string" },
              "Debit": { "type": "number" },
              "Credit": { "type": "number" }
            }
          }
        ]
      },
      "DocumentLine": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "LineNumber": { "type": "integer" },
              "ProductId": { "type": "string", "format": "uuid" },
              "Description": { "type": "string" },
              "Quantity": { "type": "number" },
              "Price": { "type": "number" },
              "Discount": { "type": "number" },
              "Subtotal": { "type": "number" },
              "TaxCodeId": { "type": "string", "format": "uuid" }
            }
          }
        ]
      },
      "PrintReport": {
        "allOf": [
          { "$ref": "#/components/schemas/EntityBase" },
          {
            "type": "object",
            "properties": {
              "Name": { "type": "string" },
              "Description": { "type": "string" },
              "EntityType": { "type": "string" },
              "IsDefault": { "type": "boolean" }
            }
          }
        ]
      }
    }
  }
}
